@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  select option {
    margin: 8px 0;
    cursor: pointer;
    transition: all 0.2s;
  }

  select option:checked {
    background: #ad3404 linear-gradient(0deg, #ad3404 0%, #ad3404 100%);
    color: white;
  }

  select:focus option:checked {
    background: #ad3404 linear-gradient(0deg, #ad3404 0%, #ad3404 100%);
    color: white;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
